@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }

  .lead {
    margin: 0 48px;
  }
  .lead__subtitle {
    margin-bottom: 56px;
  }
  
  .intro {
    margin: 92px 48px;
  }

  .places {
    margin: 92px 48px;
  }
  .place__title {
    max-width: 440px;
  }
  .place__website {
    max-width: 456px;
  }
  .place__image {
    max-width: 440px;
  }
  .place__paragraph {
    max-width: 456px;
  }

  .footer {
    margin: 92px 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px;
  }

  .lead {
    margin: 0;
  }
  .lead__caption {
    margin-left: 24px;
  }
  
  .intro {
    margin: 88px 24px;
  }

  .photo-grid {
    margin: 0 24px;
  }

  .places {
    margin: 88px 24px;
  }
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
  .place__website {
    max-width: 352px;
  }
  .place__image {
    max-width: 340px;
    max-height: 340px;
  }
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 25px;
  }

  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    margin: 16px 16px 48px;
  }
  .header__logo {
    width: 142px;
    height: 42px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
  .lead__caption {
    margin-left: 16px;
  }
  
  .intro {
    margin: 64px 16px;
  }
  .intro__title {
  font-size: 32px;
  line-height: 1.09;
  }

  .photo-grid {
    margin: 0 16px;
  }

  .places {
    margin: 64px 0 66px;
    gap: 64px
  }
  .place__title {
    margin: 0;
    margin-left: 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
  .place__website {
    max-width: 288px;
    margin: 32px 16px;
  }
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
  .place__paragraph {
    max-width: 288px;
    margin: 32px 16px 25px;
  }
  .place__paragraph:last-of-type {
    margin-bottom: 0 16px;
  }

  .cover__text_title {
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 16px;
    max-width: 250px;
  }
  .cover__text_subtitle {
    font-size: 14px;
    line-height: 1.14;
  }

  .footer {
    margin: 64px 16px 24px;
    max-width: 186px;
    grid-template-columns: 186px;
    grid-template-rows: 248px 62px;
    gap: 48px
  }
  .footer__links {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer__link{
  font-size: 24px;
  line-height: 1;
  }
  .footer__copyright {
    max-height: 14px;
    text-align: left;
    line-height: 1;
  }
}