.place__paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;
  margin-bottom: 26px;
  transition: font-size 2s, line-height 2s, margin-bottom 2s;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 550px) {
  .place__paragraph {
    margin: 32px 16px 25px;
  }
  .place__paragraph:last-of-type {
    margin-bottom: 0 16px;
  }
}