.intro {
  max-width: 984px;
  margin: 92px auto;
  transition: margin 1s;
}

@media screen and (max-width: 1080px) {
  .intro {
    margin: 92px 48px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    margin: 92px auto;
  }
}

@media screen and (max-width: 976px) {
  .intro {
    margin: 88px 24px;
  }
}

@media screen and (max-width: 660px) {
  .intro {
    margin: 64px 16px;
  }
}