.footer {
  margin: 92px 48px 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 976px) {
  .footer {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 660px) {
  .footer {
    margin: 64px 16px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 48px;
  }
}